/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
docker-compose.yml.bak
*.log
.DS_Store
Thumbs.db
/bootstrap/cache/*
/storage/app/public/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.gemini/
.idea/
.vscode/
