@import "tailwindcss";

@theme {
  --color-primary: #ffcc00;
  --color-secondary: #0f172a;
  --color-accent: #3b82f6;
  
  --font-inter: "Inter", sans-serif;
  --font-plus-jakarta: "Plus Jakarta Sans", sans-serif;
}

@layer base {
  body {
    @apply bg-secondary text-white font-inter antialiased;
  }
}

@layer components {
  .glass-card {
    @apply bg-white/5 backdrop-blur-2xl border border-white/10 rounded-[40px] shadow-2xl;
  }
}
